.paper {
  border: 1px solid black;
  margin: 20px;
}

.title {
  width: 400px;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.information {
  padding: 8px 16px;
  font-size: 12px;
  line-height: 20px;
}
.header {
  font-weight: bold;
  margin-bottom: 8px;
}

.gridWrapper {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
}

.subGrid {
  display: grid;
  grid-template-columns: 120px 1fr;
  font-size: 12px;
  line-height: 20px;
}

.imageWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.imageContainer {
  position: relative;
  border: 1px solid black;
  grid-template-rows: 1fr auto;
  display: grid;
}

.imageTitleWrapper {
  position: absolute;
  display: flex;
  gap: 8px;
  height: 24px;
  align-items: center;
}

.imageNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 24px;
  font-size: 12px;
  height: 100%;
  background-color: red;
}
.imageName {
  flex: 1;
  font-size: 10px;
}
.image {
  object-fit: contain;
}

.summary * {
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 0;
  line-height: 20px !important;
  font-size: 12px !important;
}

.footerWrapper {
  display: flex;
  align-items: start;
}

.typeImage {
  width: 150px;
  object-fit: contain;
  align-self: flex-end;
}

.signatureWrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 8px;
}

.signatureGroup {
  display: flex;
}
.signature {
  width: 150px;
}
